[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
colorama = "==0.4.4"
requests = "==2.26.0"
flask = "==1.0.2"
gradio = "==5.10.0"
waitress = "==2.0.0"
agpt = "==0.2.2"
django = "==4.2.18"

[dev-packages]

[requires]
python_version = "3.13"
